@model List<TopupPk.Models.Retailer>
@{
    ViewData["Title"] = "Home Page";
}
<br /><br />

<nav class="navbar navbar-light bg-faded">    

    <div class="colorgraph">
        <div class="container">
            @foreach (var retailer in Model)
            {

                <div class="row panel panel-default">
                    <div class="col-xs-1">
                        @Html.Label("retailers[" + @retailer.Id + "].RetailerID", retailer.Id.ToString(), new { @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("retailers[" + @retailer.Id + "].Name", retailer.Name, new { @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("retailers[" + @retailer.Id + "].Street", retailer.Street, new { @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("retailers[" + @retailer.Id + "].City", retailer.City, new { @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("retailers[" + @retailer.Id + "].Country", retailer.Country, new { @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("retailers[" + @retailer.Id + "].Phone", retailer.Phone, new { @readonly = "readonly" })
                    </div>
                </div>
            }
        </div>

    </div>
</nav>




